@import "tailwindcss";

.airX {
    background-image: url("../src//assets//images/AirXCar.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.air-x-specs {
    background-image: url("../src//assets//images/airXFront.png");
    background-repeat: no-repeat;
    background-position: left;
}